.App {
  text-align: center;
  background-color: #141b2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: clamp(1.5vmin,3rem,3vmax);
  padding: 5%;
}
